language: java
sudo: false

jdk:
  - oraclejdk8
  - openjdk7

# we removed oraclejdk7 as per https://github.com/RoaringBitmap/RoaringBitmap/pull/176#issuecomment-322257170

# Install silently to ensure all pom are installed and compilation is OK: actual checks will be processed by script:
install: "mvn clean install --quiet -DskipTests -Dcheckstyle.skip=true -Dmaven.javadoc.skip=true -Dgpg.skip=true"

branches:
  only:
    - master

################
## Note the "&&". We want the script to fail fast if there is a technical error (javadoc, style)
## which saves time both for travis but also for developers looking at the error logs.
## Moreover,  if the script makes it to  mvn -f ./jmh/pom.xm, then **all** previous
## tests must be green.
#################
script: > 
          mvn javadoc:test-javadoc && 
          mvn animal-sniffer:check && 
          mvn checkstyle:check && 
          mvn -f ./roaringbitmap/pom.xml test jacoco:report -Dcheckstyle.skip=true -Dmaven.javadoc.skip=true -Dgpg.skip=true && 
          mvn -f ./real-roaring-dataset/pom.xml test -Dcheckstyle.skip=true && 
          mvn -f ./jmh/pom.xml test -Dcheckstyle.skip=true -DBITMAP_TYPES=ROARING_ONLY &&
	  mvn -f ./memory/pom.xml test -Dcheckstyle.skip=true

after_success:
  - mvn coveralls:report
