language: java
sudo: false

jdk:
  - openjdk10 #capable of compiling but not loading java11 versions of shims, ensures java8 versions get tested
  - openjdk12

###########
# we removed oraclejdk11 and openjdk11 due to https://bugs.openjdk.java.net/browse/JDK-8212233, and it is not
# clear when this will get fixed with jdk11, so we may have to wait for jdk12, jdk13, and skip jdk11 altogether.
############
# We still support and test jdk8 for clients, but on travis we no longer build with jkd8, see
# https://github.com/RoaringBitmap/RoaringBitmap/pull/290 for rationale.
##########
# we removed oraclejdk7 as per https://github.com/RoaringBitmap/RoaringBitmap/pull/176#issuecomment-322257170
#########

# from https://docs.travis-ci.com/user/languages/java/#caching
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

# Install silently to ensure all pom are installed and compilation is OK: actual checks will be processed by script:
# Including testClasses so tests will compile too.
install: "./gradlew assemble testClasses"

branches:
  only:
    - master

script:
  # run checkstyle, etc, without the tests to fail fast
  - ./gradlew check -x test
  - ./gradlew test jacocoTestReport -DBITMAP_TYPES=ROARING_ONLY

after_success:
  - ./gradlew coveralls
