language: java
sudo: false

jdk:
  - openjdk10 #capable of compiling but not loading java11 versions of shims, ensures java8 versions get tested

###########
# we removed oraclejdk11 and openjdk11 due to https://bugs.openjdk.java.net/browse/JDK-8212233, and it is not
# clear when this will get fixed with jdk11, so we may have to wait for jdk12, jdk13, and skip jdk11 altogether.
############
# We still support and test jdk8 for clients, but on travis we no longer build with jkd8, see 
# https://github.com/RoaringBitmap/RoaringBitmap/pull/290 for rationale.
##########
# we removed oraclejdk7 as per https://github.com/RoaringBitmap/RoaringBitmap/pull/176#issuecomment-322257170
#########

# Install silently to ensure all pom are installed and compilation is OK: actual checks will be processed by script:
install: "mvn -P ci clean install --quiet -DskipTests -Dcheckstyle.skip=true -Dmaven.javadoc.skip=true -Dgpg.skip=true"

branches:
  only:
    - master

script:
  - mvn javadoc:javadoc
  - mvn checkstyle:check 
  - mvn test jacoco:report  -Dgpg.skip=true -DBITMAP_TYPES=ROARING_ONLY

after_success:
  - mvn coveralls:report
