language: java
sudo: false

# oraclejdk10 is depecrated on travis
# oraclejdk12 is apparently not yet available
jdk:
  - openjdk8
  - openjdk10 #capable of compiling but not loading java11 versions of shims, ensures java8 versions get tested
  - openjdk11
  - openjdk12
  - oraclejdk11


############
# We still support and test jdk8 for clients, but on travis we no longer build with jkd8, see
# https://github.com/RoaringBitmap/RoaringBitmap/pull/290 for rationale.
##########
# we removed oraclejdk7 as per https://github.com/RoaringBitmap/RoaringBitmap/pull/176#issuecomment-322257170
#########

# from https://docs.travis-ci.com/user/languages/java/#caching
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

# Install silently to ensure all pom are installed and compilation is OK: actual checks will be processed by script:
# Including testClasses so tests will compile too.
install: "./gradlew assemble testClasses"

branches:
  only:
    - master

script:
  # run checkstyle, etc, without the tests to fail fast
  - ./gradlew check -x test
  - ./gradlew test jacocoTestReport -DBITMAP_TYPES=ROARING_ONLY
  - ./gradlew :roaringbitmap:test --tests *testIndexIterator4

after_success:
  - ./gradlew coveralls
