name: Java 21 CI macOS (Apple)

on: [push,pull_request]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Build with Gradle
        run: ./gradlew assemble

      - name: Test with Gradle
        id: test_macos_java21
        run: ./gradlew test

      - uses: actions/upload-artifact@v4  # upload test results if the test was not skipped
        if: ${{ !cancelled() && steps.test_macos_java21.outcome != 'skipped'}}
        with:
          name: test-results-macos-j21
          path: '*/build/test-results/**/*.xml'
          overwrite: 'true'