name: Publish release

on:
  push:
    tags:
      - '*'

jobs:
  publish-maven-central:
    name: Publish to Maven Central
    runs-on: ubuntu-latest
    environment: release
    timeout-minutes: 240

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-disabled: true
          validate-wrappers: false

      - name: Publish Maven artifacts
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_PASSPHRASE }}
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.MAVEN_USER }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.MAVEN_PASSWORD }}
        run: ./gradlew publishAggregationToCentralPortal --no-scan