name: Publish snapshot

on:
  schedule:
    # Run daily on weekdays
    - cron: '0 11,23 * * 1-5'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  publish-to-maven:
    name: Publish to Maven Central
    runs-on: ubuntu-latest
    timeout-minutes: 240
    env:
      SPARK_LOCAL_IP: localhost
    if: github.repository == 'RoaringBitmap/RoaringBitmap'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-disabled: true
          validate-wrappers: false

      - name: List projects
        run: ./gradlew projects --no-scan

      - name: Gradle / publish snapshot
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_PASSPHRASE }}
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.MAVEN_USER }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.MAVEN_PASSWORD }}
        run: ./gradlew publishAggregationToCentralPortalSnapshots --no-scan